<%= turbo_frame_tag 'categories' do %>
  <h1><%= t('.title') %></h1>

  <%= link_to t('.all'), products_path %>

  <%= render partial: 'category', collection: @categories %>

  <%= render partial: 'product', collection: @products %>
<% end %>